@model Login
@{
    ViewData["Title"] = "SignIn";
}


<div class="modal-dialog" role="document">
    <div class="modal-content rounded-5 shadow">
      <div class="modal-header p-5 pb-4 pt-4 border-bottom-0">
        <!-- <h5 class="modal-title">Modal title</h5> -->
        <h2 class="fw-bold mb-0">Вход</h2>
        <a href="@Context.Request.Query["ReturnUrl"].FirstOrDefault("/Product/Index")" class="btn-close" aria-label="Close"></a>
      </div>

      <div class="modal-body p-5 pt-0">
        <form class="form-for-validation" method="Post">
          <div class="form-floating mb-3">
            <input  class="form-control rounded-4" id="Email" placeholder="name@example.com" asp-for="Email">
            <label for="Email">Email адрес</label>
            <span asp-validation-for="Email" class="invalid-feedback"></span>
         
          </div>
          <div class="form-floating mb-3">
            <input class="form-control rounded-4" id="Password" placeholder="Password"  asp-for="Password">
            <label for="Password">Пароль</label>
            <span asp-validation-for="Password" class="invalid-feedback"></span>
            
          </div>
           <div class="form-floating mb-3">      
                 <div class="validation" asp-validation-summary="ModelOnly"></div>
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit" asp-route-ReturnUrl='@Context.Request.Query["ReturnUrl"]'>Войти</button>
          <small class="text-muted">Еще не зарегистрированы? <a asp-action="Registration" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]">Зарегистрируйтесь</a> прямо сейчас</small>

        </form>
      </div>
    </div>
  </div>